@use '../../variables';

.masonry-item {
  width: 100%;
  margin-top: 1rem;
  @media (min-width: variables.$breakpoint-medium) {
    width: 46%;
  }
}
.list {
  display: block;
  color: variables.$black;
}

.card {
  background: variables.$bg;
  border: variables.$silver solid 2px;
  border-radius: 10px;
  box-shadow: variables.$shadow;
  position: relative;
  padding: 1rem 1.35rem;
  &__description {
    height: 2ch;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}
.deadline {
  position: absolute;
  top: 2%;
  right: 2%;
}
.lists-container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  &:before,
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}
